.Button {
    position: absolute;
    left: 50%;
    margin-top: 30px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 20px;
    color: white;
    background-color: #6d6d6d;
    font-family: "DM Sans";
    cursor: pointer;
}

.TextBlock {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.Title {
    font-weight: 300;
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

.Button:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 720px) {
    .TextBlock {
        text-align: center;
    }
}